@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td,hr { margin: 0; padding: 0;font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;}
body{ font-size: 12px; background: #fff;}
h1,h2,h3,h4,h5,h6 { font-family: arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif; font-size: 100%; font-weight:normal;}
input,textarea,select,button { font-size: 12px; font-weight: normal; vertical-align:middle;outline: none;}
input[type='button'],input[type='submit'],select,button { cursor: pointer;}
a{  text-decoration: none;  }
li{  list-style: none;  }
img{  border: 0;  }
.clearfix:after{content:".";display:block;height:0;visibility:hidden}
.clearfix{display:inline-block}
.clearfix{display:block}
.clearfix:after,.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
.clear{ clear: both;}
