{% extends 'base.html' %}
{% block title %}精品资源{% endblock title %}
{% block fdnav %}{% endblock fdnav %}

{% block mainbody %}
  <div class="content-wrap"><!--内容-->
    <div class="content" style="margin-left: 50px;">   
       <div class="content-block hot-content hidden-xs">
        <h2 class="title"><strong>分类</strong></h2>
		    <div id="row1" style="width: 100%;height: 130px;">
		        <ul>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=android">android</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=c/c++" class="active">c/c++</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=c#">c#</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=go">go</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=html5">html5</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=ios">ios</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=javaweb">javaweb</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=Linux">Linux</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=php">php</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=python">python</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=ruby">ruby</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=web前端">web前端</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=window phone8">window phone8</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=wordpress">wordpress</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=产品">产品</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=人工智能">人工智能</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=区块链">区块链</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=单片机">单片机</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=大数据与云计算">大数据与云计算</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=嵌入式">嵌入式</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=平面设计">平面设计</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=微信公众平台开发">微信公众平台开发</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=微信小程序">微信小程序</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=必备软件">必备软件</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=手机UI">手机UI</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=数据库">数据库</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=数据结构与算法">数据结构与算法</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=易语言">易语言</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=服务器">服务器</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=汇编">汇编</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=游戏开发">游戏开发</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=物联网">物联网</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=网页设计">网页设计</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=计算机基础">计算机基础</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=计算机网路">计算机网路</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=软件测试">软件测试</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=软考">软考</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=运维">运维</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=运营">运营</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=项目管理">项目管理</a></li>
		        	<li><a href="http://127.0.0.1:8080/other/seacher?seacherkey=骇客">骇客</a></li>
		        </ul>
		    </div>
      </div>

      <div class="content-block hot-content hidden-xs">
        <h2 class="title"><strong>精品教程</strong></h2>
			    <div id="row2" style="width: 100%;height: 250px;display: flex;">
					{% for good in list1 %}
			        <div >
			        	<a href="http:127.0.0.1:8080/other/source/?n={{good.id}}&s=4566%{{good.id}}7%38%54"><img src="/static/img/zydemo.jpg"></img></a>
						    <p class="p1"><strong>{{good.title}}</strong></p>
						    <p class="p2">B币：{{good.source_valuemarks}}</p>
			        </div>
					{% endfor %}
			    </div>
			   <div id="row2" style="width: 100%;height: 250px;display: flex;">
			       {% for good in list2 %}
			        <div >
			        	<a href="http:127.0.0.1:8080/other/source/?n={{good.id}}&s=4566%{{good.id}}7%38%54"><img src="/static/img/zydemo.jpg"></img></a>
						    <p class="p1"><strong>{{good.title}}</strong></p>
						    <p class="p2">B币：{{good.source_valuemarks}}</p>
			        </div>
					{% endfor %}
			    </div>
			    <div id="row2" style="width: 100%;height: 250px;display: flex;">
			        {% for good in list3 %}
			        <div >
			        	<a href="http:127.0.0.1:8080/other/source/?n={{good.id}}&s=4566%{{good.id}}7%38%54"><img src="/static/img/zydemo.jpg"></img></a>
						    <p class="p1"><strong>{{good.title}}</strong></p>
						    <p class="p2">B币：{{good.source_valuemarks}}</p>
			        </div>
					{% endfor %}
			    </div>
    </div>

	</script>
      <div class="content-block new-content">
        <div class="quotes" style="margin-top:15px">
		 <a href="?page=1">首页</a>
          {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">上一页</a>
          {% endif %}

            {% for  page_number in  paginator.page_range %}
            {# 获取当前页的页码 #}
                {% if page_number == page.number %}
                    {# 如果是当前页的话，选中 #}
                    <a href="?page={{page_number}}">{{page_number}}</a>
                {% else %}
                    <a href="?page={{page_number}}">{{page_number}}</a>
                {% endif %}
            {% endfor %}

          {% if contacts.has_next %}
              <a href="?page={{ contacts.next_page_number }}">下一页</a>
          {% endif %}
		</div>
      </div>
    </div>
  </div>
{% endblock mainbody %}

{% block rightb %}
  <aside class="sidebar visible-lg"><!--右侧>992px显示-->
    <div class="sentence"> <strong>每日一句</strong>
      <h2>2019年4月1日 星期一</h2>
      <p>你是我人生中唯一的主角，我却只能是你故事中的一晃而过得路人甲。</p>
    </div>
    <div id="search" class="sidebar-block search" role="search">
      <h2 class="title"><strong style="color: #FF5151;">声明</strong></h2>
      <form class="navbar-form" action="search.php" method="post">
        <div class="input-group" style="color: blue;">
                   本站资料均从互联网公开网盘收集或网页分享,若侵犯了您的版权，请联系我们qq:2097557613，我们会立刻删除！
       </div>
      </form>
    </div>
    <div class="sidebar-block recommend">
      <h2 class="title"><strong>最近更新</strong></h2>
      <ul>
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text">Black学习社，各种学习资源，应有尽有</span> <span class="text-muted">阅读(2165)</span></a></li>
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text">Black学习社，各种学习资源，应有尽有</span> <span class="text-muted">阅读(2165)</span></a></li>
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text">Black学习社，各种学习资源，应有尽有</span> <span class="text-muted">阅读(2165)</span></a></li>
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text">Black学习社，各种学习资源，应有尽有...</span> <span class="text-muted">阅读(2165)</span></a></li>
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text">Black学习社，各种学习资源，应有尽有 ...</span> <span class="text-muted">阅读(2165)</span></a></li>
      </ul>
    </div>
    <div class="sidebar-block comment">
      <h2 class="title"><strong>最新评论</strong></h2>
      <ul>
        <li data-toggle="tooltip" data-placement="top" title="站长的评论"><a target="_blank" href=""><span class="face"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text"><strong>小阳站长</strong> (2019-4-1) 说：<br />
           欢迎来到Black学习社，在这里你可以获得各种学习资源，也可以分享你的资源哦</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="读者墙上的评论"><a target="_blank" href=""><span class="face"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text"><strong>jjl</strong> (2019-4-1) 说：<br />
          欢迎来到Black学习社，在这里你可以获得各种学习资源，也可以分享你的资源哦...</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="jjl的评论"><a target="_blank" href=""><span class="face"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text"><strong>molin</strong> (2019-4-1) 说：<br />
          欢迎来到Black学习社，在这里你可以获得各种学习资源，也可以分享你的资源哦</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="摩天轮和将军令...的评论"><a target="_blank" href=""><span class="face"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text"><strong>小哥</strong> (2019-4-1) 说：<br />
          欢迎来到Black学习社，在这里你可以获得各种学习资源，也可以分享你的资源哦</span></a></li>
        <li data-toggle="tooltip" data-placement="top" title="小哥和JJ林·...的评论"><a target="_blank" href=""><span class="face"><img src="/static/images/icon/icon.png" alt=""></span> <span class="text"><strong>哈哈</strong> (2019-4-1) 说：<br />
          欢迎来到Black学习社，在这里你可以获得各种学习资源，也可以分享你的资源哦</span></a></li>
      </ul>
    </div>
  </aside>
{% endblock rightb %}
